_UpgradeReport_Files
UpgradeLog.XML
source/*/obj
source/*/bin
*.chm
_[Rr]e[Ss]harper.*
*.csproj[1-9]*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.sql
*.stackdump
*.swp
*.swo
source/docs/Help/*.*
artifacts
source/config/app.config
source/config/our_custom_config.txt
source/config/log4net.config.xml
source/config/hibernate.cfg.xml
source/*.win.ui/*.xml
source/*.win.ui/*.config
source/*.win.ui/*.txt
*.orig
local_properties.rb
connection_details.rb
db.yaml
